<!--<form class="my-form">-->
<!--    <h3>Login Form</h3>-->
<!--    <mat-form-field class="my-fields">-->
<!--        <mat-label>User Name</mat-label>-->
<!--        <input matInput [(ngModel)]="loginForm.username" name="username" />-->
<!--    </mat-form-field>-->
<!--    <mat-form-field class="my-fields">-->
<!--        <mat-label>Password</mat-label>-->
<!--        <input-->
<!--            matInput-->
<!--            type="password"-->
<!--            [(ngModel)]="loginForm.password"-->
<!--            name="password"-->
<!--        />-->
<!--    </mat-form-field>-->
<!--    &lt;!&ndash; 01 LOGIN &ndash;&gt;-->
<!--    <button mat-raised-button color="primary" (click)="userLogin()">-->
<!--        Login-->
<!--    </button>-->
<!--</form>-->

<form class="my-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <h3>Login Form</h3>
    <div id="username-container">
    <mat-form-field class="my-fields">
        <mat-label>User Name</mat-label>
        <input
            matInput
            name="username"
            formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && loginFormControls.username.errors }"
        />
    </mat-form-field>
    </div>
    <div id="password-container">
    <mat-form-field class="my-fields">
        <mat-label>Password</mat-label>
        <input
            matInput
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && loginFormControls.password.errors }"
        />
    </mat-form-field>
    </div>
    <div id="username-error-msg" *ngIf="submitted && loginFormControls.username.errors" class="invalid-feedback">
        <div id="blank-username-error" *ngIf="loginFormControls.username.errors.required" style="color:red">Please enter username.</div>
    </div>

    <div id="password-error-msg" *ngIf="submitted && loginFormControls.password.errors" class="invalid-feedback">
        <div id="blank-password-error" *ngIf="loginFormControls.password.errors.required" style="color:red">Please enter password.</div>
    </div>

    <!-- 01 LOGIN -->
    <div id="login-btn-container" class="form-group">
        <button mat-stroked-button color="primary">Login</button>

    </div>
</form>
